<div>
  <img class="img11" src="/leds n letters.jpg" alt="leds">
  <h2>PERSONAJES</h2>
  <div class="characters">
    <div class="character-grid">
      <div *ngFor="let character of characters" [ngClass]="character.borderClass" class="character">
        <div class="content">
          <img [src]="character.img" [alt]="character.name">
          <div class="text">
            <h3>{{ character.name }}</h3>
            <p>{{ character.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
