<div class="characters">
    <h2>PERSONAJES</h2>
    <div class="character-grid">
      <div class="character">
        <img src="/1.webp" alt="Eleven">
        <h3>Eleven (Millie Bobby Brown)</h3>
        <p>Una niña con poderes psicoquinéticos que escapa del laboratorio de Hawkins Nacional y se une a un grupo de niños para encontrar a Will Byers.</p>
      </div>
  
      <div class="character">
        <img src="/images.jpeg" alt="Will Byers">
        <h3>Will Byers (Noah Schnapp)</h3>
        <p>Un niño que desaparece en el Upside Down y lucha por sobrevivir mientras su madre y amigos buscan rescatarlo.</p>
      </div>
  
      <div class="character">
        <img src="/Mike.webp" alt="Mike Wheeler">
        <h3>Mike Wheeler (Finn Wolfhard)</h3>
        <p>Un niño que lidera la búsqueda de su amigo Will y protege a Eleven de los peligros que la rodean.</p>
      </div>
  
      <div class="character">
        <img src="/Lucas.webp" alt="Lucas Sinclair">
        <h3>Lucas Sinclair (Caleb McLaughlin)</h3>
        <p>Un niño valiente y sensato que se une a Mike y Dustin en la búsqueda de Will y ayuda a desentrañar el misterio del Upside Down.</p>
      </div>
  
      <div class="character">
        <img src="/Dustin.webp" alt="Dustin Henderson">
        <h3>Dustin Henderson (Gaten Matarazzo)</h3>
        <p>Un niño curioso y leal que ayuda a Mike en la búsqueda de Will y se convierte en un aliado clave para Eleven.</p>
      </div>
  
      <div class="character">
        <img src="Joyce.webp" alt="Joyce Byers">
        <h3>Joyce Byers (Winona Ryder)</h3>
        <p>La madre desesperada de Will que busca la verdad sobre su desaparición y enfrenta a las autoridades que intentan ocultarla.</p>
      </div>
  
      <div class="character">
        <img src="Hopper.webp" alt="Jim Hopper">
        <h3>Jim Hopper (David Harbour)</h3>
        <p>El jefe de policía de Hawkins que investiga la desaparición de Will y descubre un oscuro secreto detrás del laboratorio de Hawkins Nacional.</p>
      </div>
    </div>
  </div>
  