<div class="main-container">
  <app-header></app-header>

  <div class="content">
    
    <div class="logo-tem-container">
      <img id="prin" src="/logo.png" alt="Stranger Things Season 1" class="main-logo">
      <h1 id="tem" class="season-title">TEMPORADA 1</h1>
    </div>
    
    <div class="gradient-poster-container">
      <div class="gradient"></div>
      <img src="/StrangerThings 1.webp" alt="Poster Temporada 1" class="poster">
    </div>

    <app-synopsis></app-synopsis>
  </div>

  <app-characters></app-characters>
</div>
