/* Contenedor principal */
.main-container {
    width: 100%;
    background-color: #000;
    color: #FFF;
    font-family: 'Teko', sans-serif;
  }
  
  /* Header (logo y botones) */
  app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  /* Logo y título de la temporada */
  .logo-poster-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position: relative;
  }
  
  /* Sección izquierda con logo y texto de "TEMPORADA 1" */
  .left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-logo {
    width: 400px;
    height: auto;
  }
  
  .season-title {
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin-top: 20px;
  }
  
  /* Sección derecha con el poster */
  .right-section {
    position: relative;
    width: 400px;
  }
  
  .poster-image {
    width: 100%;
    height: auto;
  }
  
  /* Aplicar degradado en la parte derecha que se desvanece hacia la izquierda */
  .logo-poster-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.9), transparent);
    z-index: 1;
  }
  
  /* Sinopsis */
  app-synopsis {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
  }
  
  /* Personajes */
  app-characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
  }
  
  /* Tarjetas de personajes */
  .character-card {
    width: 200px;
    margin: 20px;
    text-align: center;
  }
  
  .character-card img {
    width: 100%;
    border: 3px solid #EF4135;
    border-radius: 10px;
  }
  
  .character-card h3 {
    font-size: 22px;
    margin-top: 10px;
  }
  
  .character-card p {
    font-size: 18px;
    color: #bbb;
  }
  