<div class="synopsis">
    <div class="cont-sip">
      <h2>SINOPSIS</h2>
    <p>
      En el pueblo de Hawkins, Indiana, en 1983, el niño Will Byers desaparece misteriosamente. Su madre, Joyce,
      y el jefe de policía, Jim Hopper, inician una búsqueda. Pronto se descubre que un científico ha abierto una
      brecha hacia una dimensión alternativa llamada "Upside Down", donde vive una criatura monstruosa llamada
      Demogorgon. Un grupo de niños, liderados por Mike, y una niña con poderes psicoquinéticos llamada Eleven,
      se unen para encontrar a Will y cerrar la brecha.
    </p>
    </div>
    <img src="StrangerThings2.webp" alt="">
  </div>
  